/* Main CSS File */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: slateblue;
}

select{
  cursor: pointer;
}

button:focus, button:active {
  outline:0;
  box-shadow: none !important;
}

/* Navigation */
.nav-link{
  background: #fff;
  color: rgb(65, 65, 65);
  transition: 0.15s ease-in background;
}

.nav-link:hover{
  background: rgb(246, 246, 246);
}

.btn-outline-secondary{
  border-color: rgb(222, 222, 222);
}

.btn:hover{
  background-color: rgb(246, 246, 246) !important;
  border-color: rgb(232, 232, 232) !important;
  color: #888 !important;
}

.btn, .card{
  transition: 0.15s ease-in background border;
}

.card{
  cursor: pointer;
}

.card:hover{
  background: rgb(246, 246, 246);
}

/* turn of increment/decrement for number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}