/* Main CSS File */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: slateblue;
}

button:focus {
  outline:0;
}

/* Navigation */
.nav-link, .nav-link:hover{
  background: #fff;
  color: rgb(65, 65, 65);
  transition: 0.15s ease-in background;
}
.nav-link:hover{
  background: rgb(246, 246, 246);
}


.card{
  cursor: pointer;
  transition: 0.15s ease-in background;
}

.card:hover{
  background: rgb(246, 246, 246);
}